span.logo {
  font-family: "Anaheim", sans-serif;
  font-weight: 600;
  color: #37474f;
}
span.logo .enu, span.logo .cs {
  vertical-align: text-top;
}
span.logo .cs {
  color: #c62828;
}
span.logo.dark {
  color: #ffffff;
}
span.logo.dark .cs {
  color: #ff5555;
}

#nav ul {
  font-family: "Anaheim", sans-serif;
  background-color: #37474f;
  padding: 25px 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
#nav ul li {
  font-size: 28px;
  align-self: center;
}
#nav ul li a {
  color: #ffffff;
  font-weight: 400;
}
#nav ul li a.active {
  color: #ff5555;
}
#nav ul li .logo {
  font-size: 80px;
}
#nav ul #hamburger {
  display: none;
  cursor: pointer;
  margin-right: 25px;
}
#nav #mobile {
  display: none;
  text-align: center;
  padding: 0;
}
#nav #mobile li {
  border-top: #546e7a 5px solid;
  display: flex;
}
#nav #mobile li a {
  width: 100%;
  padding: 10px;
}

#content .event {
  margin: 25px 0;
}
#content .event .date {
  width: 120px;
  font-family: "Anaheim", sans-serif;
  font-size: 34px;
  text-align: right;
  float: left;
  margin-right: 20px;
}
#content .event .details {
  width: calc(100% - 140px);
  float: right;
}
#content .event .details h2 {
  font-size: 34px;
  margin: 0 0 10px 0;
}
#content .event .details .info {
  font-family: "Anaheim", sans-serif;
  font-size: 16px;
}
#content .event .details .info a {
  color: #ffffff;
  font-weight: 600;
}

#footer {
  display: flex;
  justify-content: space-between;
  background-color: #37474f;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
#footer .sponsors div {
  margin-top: 10px;
}
#footer .social {
  text-align: right;
  color: #c5c5c5;
}
#footer .social a {
  display: block;
  color: #c5c5c5;
  margin-bottom: 4px;
}
#footer .social .social {
  font-size: 34px;
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  #nav #desktop {
    padding: 0;
    justify-content: space-between;
  }
  #nav #desktop li:not(.logo) {
    display: none;
  }
  #nav #desktop li.logo {
    margin-left: 25px;
  }
  #nav #desktop #hamburger {
    display: block !important;
  }
  #nav .enabled {
    display: block !important;
  }

  #footer {
    padding: 10px;
    justify-content: space-around;
  }
  #footer .sponsors {
    display: none;
  }
  #footer .social {
    text-align: center;
    margin: 0;
  }
}
body {
  font-family: "Roboto Slab", serif;
  background-color: #546e7a;
  color: #ffffff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2, h3 {
  font-family: "Anaheim", sans-serif;
  font-weight: 400;
  margin: 0;
}

h2 {
  margin-top: 30px;
}

h3 {
  margin-top: 15px;
}

p {
  margin: 10px 0 0 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

code {
  background: #37474f;
  padding: 3px 8px;
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
}

#content {
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
  padding: 25px;
}

.cf {
  clear: both;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
