#footer
    background-color: $colour-darkest
    height: 150px
    padding: 20px

    width: 100%
    box-sizing: border-box

    .left
        float: left
        width: calc(100% - 250px)
        .sponsors
            margin-top: 10px
    .right
        float: right
        width: 200px
        padding: 15px
        text-align: right
        color: $colour-light
        a
            color: $colour-light
            margin-bottom: 4px
        .social
            font-size: 34px
            margin-top: 10px
