#nav
    ul
        font-family: $title-font
        background-color: $colour-darkest
        padding: 25px 0
        margin: 0
        list-style: none
        display: flex
        justify-content: space-around
        a
            color: $colour-font
            font-size: 28px
            align-self: center
        li.logo
            font-size: 80px
